.section {
  padding: 100px 20px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: var(--White, #FFF);
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.96px;
  margin-bottom: 24px;
  background: linear-gradient(135deg, #ffffff 0%, #72BF6B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description {
  color: var(--Gray-01, #A1A1A1);
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.4px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }
}
