.footer {
  width: 100%;
  background-color: #111;
  color: #aaa;
  padding: 40px 6vw;
  font-size: 14px;
  display: flex;
  justify-content: center; /* 중앙 배치 */
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1600px; /* 선택 사항: 너무 넓어지지 않게 제한 */
}

.mix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* 화면 작아지면 아래로 쌓이게 */
}

.right {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--Gray-02, #5A5A5A);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.32px;
}

.right a {
  color: #888;
  text-decoration: none;
}

.right a:hover {
  color: white;
}

.icons {
  display: flex;
  gap: 12px;
}
