.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw; /* <- 좌우 여백만 %로 줘서 반응형 느낌 */
  z-index: 50;
}


.logoContainer {
    display: flex;
    width: 64px;
    height: 24px;
    padding-right: 0.143px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  cursor: pointer;
}

.logoText {
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  display: flex;
  gap: 24px;
  font-size: 14px;
}

.menuItem {
  width: 56px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.menuText {
    display: flex;
    width: 32px;
    height: 24px;
    padding: 1px 0 2px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
