.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 정렬 */
  justify-content: center; /* 세로 가운데 정렬 (필요시) */
  min-height: 100vh; /* 화면 세로 중앙 배치용 */
  background-color: black;
  gap: 20px; /* 이미지 사이 간격 */
  padding-top: 120px;
   padding-bottom: 120px;
}
